
.vscode/

build/

examples/dynamic/main

examples/static/main

examples/perft/main

examples/play/main

examples/pgn/main

*.pgn

examples/engine/main

examples/engine/engine

examples/ttperft/main

tests/main
